[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
twine = "*"

[packages]
aiohttp = "*"
beautifulsoup4 = "*"
cchardet = "*"
aiodns = "*"
uvloop = "*"
w3lib = "*"
feedparser = "*"
udatetime = "*"
brotlipy = "*"

[requires]
python_version = "3.7"
